<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/8093e37b-73e1-4726-afaf-c25ccd2f9270/resourceGroups/swp391_bl3/providers/Microsoft.Web/sites/swp391</ResourceId>
    <ResourceGroup>swp391_bl3</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://swp391-b6hqahhcd8h5bucf.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b1fa6e29-a773-48f1-8cfe-cfee4949b105</ProjectGuid>
    <PublishUrl>https://swp391-b6hqahhcd8h5bucf.scm.southeastasia-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>